/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/kafka-config/target
/fzc/target
/hive-client/target
catalina.base_IS_UNDEFINED/
fzc/catalina.base_IS_UNDEFINED
hive-client/catalina.base_IS_UNDEFINED